*{
	margin: 0;
	padding: 0;
	list-style: none;
}
a {
	text-decoration: none;
}
.button {
	margin:15px;
}
.button a {
	font-size: 14px;
	color: #FFF;
	background-color: orange;
	height: 30px;
	width: 80px;
	display: inline-block;
	text-align: center;
	line-height: 30px;
	border-radius: 5px;
}
.button a:hover {
	background-color: #FF9900;
}
.bottom {
	position: relative;
	margin-left: 20px;
}
.box {
	height: 360px;
	width: 220px;
	background-color: #dedede;
	margin: 0 50px 50px 0;
}
.box p:last-child{
    font-size: 13px;
    color: orangered;
}